.Card {
    width: 300px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.4);
    display: grid;
    grid-template-rows: 1fr 2fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 40px rgba(0,0,0, 0.3)
}

.Card:hover img{
    transform: translateY(-16px);
}

.Card img{
    position: absolute;
    top: 0;
    height: 110%;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: -1;
}

.Card h3{
    color: white;
    font-size: 24px;
    margin: 20px 0 0 20px;
    width: 190px;
}

.Card p{
    color: rgb(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    align-self: end;
    margin: 0 0 20px 20px;
}